/* font-family: 'Inter', sans-serif; */

:root {
  --light-blue: #5093e2;
  --txt-titles: #f5f5f5;
  --txt-job: #f3bf99;
  --txt-p: #dcdcdc;
  --white: #ffffff;
  --bg-footer: #161619;
  --bg-main: #23252c;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 317px;
  height: 100vh;
  margin: 10px auto;
  margin-top: 40px;
}

/* *** HEADER *** */

.nav {
  padding: 0;
  margin: 0;
  width: 317px;
  height: 188px;
  border-radius: 10px 10px 0 0;
  position: relative;
  overflow: hidden;
}

.nav img {
  display: block;
  position: absolute;
  padding: 0;
  width: 100%;
  bottom: -70px;
  object-fit: inherit;
  /* object-fit: contain; */
  /* width: 317px; */
  /* height: 250px; */
  /* top: 5px; */
}

/* *** MAIN CONTENT *** */

.main--content {
  z-index: 1;
  padding-top: 0;
  padding: 20px 30px;
  width: 317px;
  background-color: var(--bg-main);
}

.main--name {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.main--job {
  font-size: 14px;
  text-align: center;
  color: var(--txt-job);
}

.main--website {
  font-size: 12px;
  text-align: center;
  color: var(--txt-titles);
}

.btns-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
}

.btns-div a {
  text-decoration: none;
}

.btns {
  width: 115px;
  height: 35px;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5px 0 15px;
}

.btns:hover {
  cursor: pointer;
  scale: 1.1;
}

.btns-mail {
  background-color: var(--white);
}

.btns-mail i {
  color: #1e1f26;
}

.btns-mail span {
  color: #374151;
}

.btns-linkedin {
  color: var(--white);
  background-color: var(--light-blue);
}

.desc-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--txt-titles);
}

.desc-p {
  font-size: 12px;
  font-weight: 400;
  color: var(--txt-p);
  margin-bottom: 20px;
}

.desc-p:last-of-type {
  margin-bottom: 5px;
}

/* *** FOOTER *** */

.footer {
  background-color: var(--bg-footer);
  width: 317px;
  height: 64px;
  border-radius: 0 0 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.footer a {
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.footer a:hover {
  scale: 1.1;
}
